<template>
  <main class="content">
    <form action="#" method="post">
      <div class="content__wrapper">
        <h1 class="title title--big">Конструктор пиццы</h1>

        <builder-dough-selector
            :dough="dough"
            :current-dough="orderPizza.doughId"
            @selected-dough="orderPizza.doughId = +$event"
        />

        <builder-size-selector
            :sizes="sizes"
            :current-size="orderPizza.sizeId"
            @selected-size="orderPizza.sizeId = +$event"
        />

        <builder-ingredients-selector
            :sauces="sauces"
            :ingredients="ingredients"
            :current-sauce="orderPizza.sauceId"
            @selected-sauce="orderPizza.sauceId = +$event"
            @selected-ingredient="addIngredient"
        />

        <builder-pizza-view
            :name="orderPizza.name"
            :ingredients="addedIngredients"
            :size="currentSize"
            :sauce="currentSauce"
            @update-ingredients="updateIngredient"
            @name="orderPizza.name = $event"
        />
      </div>
    </form>
  </main>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

import pizza from '@/static/pizza.json'
import {
  formatDough,
  formatSizes,
  formatSauces,
  formatIngredients
} from '@/common/helpers'
import BuilderPizzaView from '@/modules/builder/components/BuilderPizzaView.vue'
import BuilderIngredientsSelector from '@/modules/builder/components/BuilderIngredientsSelector.vue'
import BuilderSizeSelector from '@/modules/builder/components/BuilderSizeSelector.vue'
import BuilderDoughSelector from '@/modules/builder/components/BuilderDoughSelector.vue'

export default defineComponent({
  name: 'IndexPage',
  components: {
    BuilderDoughSelector,
    BuilderSizeSelector,
    BuilderIngredientsSelector,
    BuilderPizzaView
  },
  data () {
    return {
      pizza: pizza as Pizza,
      updatedId: null as null | number,
      orderPizza: {
        name: '',
        sauceId: 1,
        doughId: 1,
        sizeId: 2,
        quantity: 0,
        ingredients: []
      } as OrderPizza
    }
  },
  computed: {
    dough (): Dough[] {
      return formatDough(this.pizza.dough)
    },
    sizes (): Size[] {
      return formatSizes(this.pizza.sizes)
    },
    sauces (): Sauce[] {
      return formatSauces(this.pizza.sauces)
    },
    ingredients (): Ingredient[] {
      return formatIngredients(this.pizza.ingredients)
    },
    currentSize (): string {
      const currentSize = this.sizes.find((el) => el.id === this.orderPizza.sizeId)

      return currentSize?.size || ''
    },
    currentSauce (): string {
      const currentSauce = this.sauces.find((el) => el.id === this.orderPizza.sauceId)

      return currentSauce?.type || ''
    },
    addedIngredients (): Ingredient[] {
      const arr = this.ingredients.filter((el) => this.orderPizza.ingredients.some((item) => {
        return el.id === item.ingredientId
      }))

      return formatIngredients(arr)
    }
  },
  methods: {
    addIngredient (obj: { itemId: number, quantity: number }, _isUpdate = false) {
      const hasIngredient = this.orderPizza.ingredients.find(
        (el) => el.ingredientId === obj.itemId)

      if (hasIngredient) {
        hasIngredient.quantity = _isUpdate ? hasIngredient.quantity++ : obj.quantity

        if (obj.quantity === 0) {
          const index = this.orderPizza.ingredients.indexOf(hasIngredient)

          this.orderPizza.ingredients.splice(index, 1)
        }

        return
      }

      this.orderPizza.ingredients.push({
        ingredientId: obj.itemId,
        quantity: obj.quantity
      })
    },
    updateIngredient (id: number) {
      this.updatedId = id
      this.addIngredient({ itemId: id, quantity: 1 }, true)
    }
  }
})
</script>
