<template>
  <div class="app-layout">
    <app-header />
    <index-page />
  </div>
</template>
<script>
import AppHeader from './AppHeader'
import IndexPage from '../views/Index'
export default {
  components: { IndexPage, AppHeader }
}
</script>
