<template>
  <div class="content__diameter">
    <div class="sheet">
      <h2 class="title title--small sheet__title">Выберите размер</h2>

      <div class="sheet__content diameter">
        <radio-button
            v-for="item in sizes"
            :key="item.id"
            :class="`diameter__input--${item.size}`"
            :value="item.id"
            :title="item.name"
            :description="item.description"
            :checked="currentSize === item.id"
            name="diameter"
            class="diameter__input"
            @input="$emit('selected-size', $event.target.value)"
        />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue'
import RadioButton from '@/common/components/RadioButton.vue'

export default defineComponent({
  components: { RadioButton },
  props: {
    sizes: {
      type: Array as PropType<Size[]>,
      required: true
    },
    currentSize: {
      type: Number
    }
  }

})
</script>
