<template>
  <div class="content__pizza">
    <label class="input">
      <span class="visually-hidden">Название пиццы</span>
      <input
          type="text"
          name="pizza_name"
          placeholder="Введите название пиццы"
          :value="name"
          @input="$emit('name', $event.target.value)"
      />
    </label>

    <div class="content__constructor">
      <app-drop @custom-drop="addIngredient">
        <div class="pizza"
          :class="`pizza--foundation--${size}-${sauce}`"
        >
        <div class="pizza__wrapper">
          <div v-for="item in ingredients"
               :key="item.id"
               :class="`pizza__filling--${item.filling}`"
               class="pizza__filling"
          />
        </div>
      </div>
      </app-drop>
    </div>

    <div class="content__result">
      <p>Итого: 0 ₽</p>
      <button type="button" class="button" disabled>Готовьте!</button>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue'
import AppDrop from '@/common/components/AppDrop.vue'

export default defineComponent({
  components: { AppDrop },
  props: {
    name: {
      type: String,
      default: ''
    },
    ingredients: {
      type: Array as PropType<Ingredient[]>
    },
    size: {
      type: String
    },
    sauce: {
      type: String
    }
  },
  methods: {
    addIngredient (id: number) {
      this.$emit('update-ingredients', id)
    }
  }
})
</script>
