<template>
  <div class="content__ingredients">
    <div class="sheet">
      <h2 class="title title--small sheet__title">
        Выберите ингредиенты
      </h2>

      <div class="sheet__content ingredients">
        <div v-if="sauces.length" class="ingredients__sauce">
          <p>Основной соус:</p>
          <radio-button
              v-for="item in sauces"
              :key="item.id"
              :value="item.id"
              :title="item.name"
              :checked="currentSauce === item.id"
              name="sauce"
              class="radio ingredients__input"
              @input="$emit('selected-sauce', $event.target.value)"
          />
        </div>

        <div v-if="ingredients.length" class="ingredients__filling">
          <p>Начинка:</p>

          <ul class="ingredients__list">
            <li v-for="item in ingredients"
                :key="item.id"
                class="ingredients__item"
            >
              <app-drag :transfer-data="item.id">
                <span class="filling" :class="`filling--${item.filling}`">
                  {{ item.name }}
                </span>
              </app-drag>
              <item-counter
                  class="ingredients__counter"
                  @counter="updateQuantity(item, $event)"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue'
import RadioButton from '@/common/components/RadioButton.vue'
import ItemCounter from '@/common/components/ItemCounter.vue'
import AppDrag from '@/common/components/AppDrag.vue'

export default defineComponent({
  components: { AppDrag, ItemCounter, RadioButton },
  props: {
    sauces: {
      type: Array as PropType<Sauce[]>,
      required: true
    },
    ingredients: {
      type: Array as PropType<Ingredient[]>,
      required: true
    },
    currentSauce: {
      type: Number
    }
  },
  methods: {
    updateQuantity (item: Ingredient, value: number) {
      this.$emit('selected-ingredient', { itemId: item.id, quantity: value })
    }
  }
})
</script>
