<template>
  <div class="content__dough">
    <div class="sheet">
      <h2 class="title title--small sheet__title">Выберите тесто</h2>
      <div v-if="dough.length" class="sheet__content dough">
        <radio-button
            v-for="item in dough"
            :key="item.id"
            :class="`dough__input--${item.type}`"
            :value="item.id"
            :title="item.name"
            :description="item.description"
            :checked="currentDough === item.id"
            name="dough"
            class="dough__input"
            @input="$emit('selected-dough', $event.target.value)"
        />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue'
import RadioButton from '@/common/components/RadioButton.vue'

export default defineComponent({
  components: { RadioButton },
  props: {
    dough: {
      type: Array as PropType<Dough[]>,
      required: true
    },
    currentDough: {
      type: Number
    }
  }

})
</script>
