<template>
  <div
      :draggable="true"
      @dragstart.self="onDrag"
      @dragover.prevent
      @dragenter.prevent
  >
    <slot />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { DATA_TRANSFER_PAYLOAD, MOVE } from '@/common/constants'
export default defineComponent({
  props: {
    transferData: {
      type: [Object, String, Number],
      required: true
    }
  },
  methods: {
    onDrag ({ dataTransfer }) {
      dataTransfer.effectAllowed = MOVE
      dataTransfer.dropEffect = MOVE
      dataTransfer.setData(
        DATA_TRANSFER_PAYLOAD,
        JSON.stringify(this.transferData)
      )
    }
  }
})
</script>
