<template>
  <div @drop.stop="onDrop" @dragover.prevent @dragenter.prevent>
    <slot />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { DATA_TRANSFER_PAYLOAD } from '@/common/constants'

export default defineComponent({
  methods: {
    onDrop ({ dataTransfer } : { dataTransfer: DataTransfer }) {
      if (!dataTransfer) {
        return
      }
      const payload = dataTransfer.getData(DATA_TRANSFER_PAYLOAD)
      if (payload) {
        const transferData = JSON.parse(
          dataTransfer.getData(DATA_TRANSFER_PAYLOAD)
        )
        this.$emit('custom-drop', transferData)
      }
    }
  }
})
</script>
