<template>
  <div class="counter counter--orange">
    <button
        type="button"
        class="counter__button counter__button--minus"
        :disabled="counter < 1"
        @click.prevent="decrement"
    >
      <span class="visually-hidden">Меньше</span>
    </button>
    <input
        type="text"
        name="counter"
        class="counter__input"
        :value="counter"
        @input="change(+$event.target.value)"
    />
    <button
        type="button"
        class="counter__button counter__button--plus"
        @click.prevent="increment"
    >
      <span class="visually-hidden">Больше</span>
    </button>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  data () {
    return {
      counter: 0
    }
  },
  methods: {
    change (value: number) {
      this.counter = value
      this.$emit('counter', this.counter)
    },
    increment () {
      this.counter++
      this.$emit('counter', this.counter)
    },
    decrement () {
      this.counter--
      this.$emit('counter', this.counter)
    }
  }
})
</script>
