<template>
  <label>
    <input
        type="radio"
        :name="name"
        :value="value"
        :checked="checked"
        class="visually-hidden"
    />
    <span v-if="title">{{ title }}</span>
    <span v-if="description">{{ description }}</span>
  </label>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    value: {
      type: Number
    },
    title: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    checked: {
      type: Boolean,
      default: false
    }
  }
})
</script>
